<% @users.each do |user| %>
  <% if user[1] != current_user.id #Can't send to yourself! %>
  <form class="" action="<%=transactions_url%>" method="post">
      <text>Send to <%= user[0] %></text>
      <label for="input1">Number of Credits</label>
      <input id="input1" type="text" name="transaction[number_credits]" value="">
      <input type="hidden" name="transaction[received_id]" value="<%=user[1]%>">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input id="Send" type="submit" name="" value="Send">
  </form>
  <% end %>
<% end %>
